* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  height: 50%;
}

html {
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 0 auto;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.map-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#map-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.map-controls {
  display: inline-block;
  padding: 5px 11px;
}

.map-controls label {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
}

#map-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#map-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 6px 12px;
}