* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');

:root {
  --montserratfont: 'Montserrat Alternates', sans-serif;
  --blue: #4d90fe;
  --ltblue: lightblue;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-left: 10px;
}

.header-title {
  font-family: var(--montserratfont);
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin: 0px;
  margin-top:13px;
}

main{
  height:100%;
  margin-bottom: 300px;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

/* widget styling */
.weatherwidget {
  display: flex;
  padding-right: 10px;
}
.timewidget{
  display: none;
  color: white;
  font-size: 18px;
  font-style: bold;
  font-weight:550;
  font-family: var(--montserratfont)
}
.timewidget p{
text-align:center;
}
.widget {
font-style: bold;
max-height: 50px;
min-width: 125px;
text-align: center;
color: white;
margin: 0;
border-radius: 15px;
}

#weather h3 {
margin: 2px;
font-size: 15px;
font-style: bold;
font-weight: 750;
}

#weather p {
font-size: 10px;
}

#forecast h3 {
margin: 2px;
font-size: 15px;
font-style: bold;
font-weight: 750;
}

#forecast p {
font-size: 10px;
}

/* Map Card Styles Start */
.map-container {
  margin: 5px 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.map-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  border-radius: 15px;
  display: none;
  max-width: 90%;
  padding:0px;
}
.map-card #title {
  font-size: 18px;
}

#search-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.map-controls {
  display: inline-block;
  padding: 5px 11px;
}

.map-controls label {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
}

#map-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#map-input:focus {
  border-color: var(--blue);
}

#title {
  color: #fff;
  background-color: var(--blue);
  font-size: 1.75rem;
  font-weight: 500;
  padding: 6px 12px;
}

#changetype-all,
#changetype-manhattan,
#changetype-brooklyn,
#changetype-queens {
  position: relative;
  opacity: 1;
  pointer-events: all;
}

/* Map Card Styles End */

#map {
  height: 75%;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  min-width: 360px;
}
/* Search result card styles */
#restaurant-container{
  display:flex;
  text-align:center;
  flex-direction: row;
  justify-content:flex-start;
  flex-wrap:wrap;
}

.restaurant-card{
  text-align:center;
}

#res-card-container{
  justify-content: space-evenly;
  width:30%;
  margin:0px;
  margin-left: 17px;
  margin-right: 17px;
}
#res-card-container .card{
  min-height:fit-content;
  border-radius:10px;
  overflow:visible;
  width:100%;

  /* flex-direction:row; */
}
#res-card-container .card-reveal{
 overflow:visible;
}



#card-image{
  margin:0px;
}

/* End styling for result cards */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  margin:0px;
  position: -webkit-sticky;
  position: fixed;
  bottom: 0;
  z-index: 999;
}

#modalBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#about h2 {
  background-color: #4d90fe;
  text-align: center;
  font-weight: bold;
}

#rating h2 {
  background-color: #4d90fe;
  text-align: center;
  font-weight: bold;
}

/*(phones, 400px and up) */
@media screen and (min-width: 400px) {
  .map-card {
    display: block;
  } 
}

/*(tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .map-card {
    display: block;
  }
  .timewidget{
    display: block;
}
}

/* (laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
  .map-card {
    display: block;
  }


  .header-title {
    justify-content: space-between;
  }

  .weatherwidget {
    justify-content: flex-end;
  }

  .map-card {
    display: block;
  }

  .heading {
    font-size: 50px;
    margin-right: 25px;
  }

  .fa {
    font-size: 50px;
  }

  .checked {
    color: orange;
  }


.validate{
  font-size: larger;
  color: red;
}
}