* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


/* #map {
  height: 50%;
} */


@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');

:root {
  --montserratfont: 'Montserrat Alternates', sans-serif;
  --blue: #4d90fe;
  --ltblue: lightblue;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-left: 10px;
}

.weatherwidget {
  display: flex;
  padding-right: 10px;
}

.header-title {
  font-family: var(--montserratfont);
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin: 0px;
  margin-top: 9px;
}

html,
body {
  width: 100%;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Evince, this is something you'll want to adjust, these settings are for my testing */
/* body {
  width: 80%;
  margin: 0 auto;

} */

/* Map Card Styles Start */
.map-container {
  margin: 5px 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.map-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  border-radius: 15px;
  display: none;
  max-width: 90%;
  padding:0px;
}

.timewidget{
  display: none;
}

.map-card #title {
  font-size: 18px;
}

#search-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.map-controls {
  display: inline-block;
  padding: 5px 11px;
}

.map-controls label {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
}

#map-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#map-input:focus {
  border-color: var(--blue);
}

#title {
  color: #fff;
  background-color: var(--blue);
  font-size: 1.75rem;
  font-weight: 500;
  padding: 6px 12px;
}

#changetype-all,
#changetype-manhattan,
#changetype-brooklyn,
#changetype-queens {
  position: relative;
  opacity: 1;
  pointer-events: all;
}

/* Map Card Styles End */


/* #places {
  display: flex;
  flex-direction: column;
} */

#temp {
  display: block;
  margin: 0 auto;
}

#map {
  height: 75%;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  min-width: 360px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  /* min-height: 100vh; */
  margin-bottom: 0px;
  margin-top: 25px;
}

.nav {
  position: -webkit-sticky;
  position: fixed;
  bottom: 0;
  /* z-index: 999; */
}

#modalBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}


.widget {
  font-style: bold;
  max-height: 50px;
  min-width: 125px;
  text-align: center;
  color: white;
  margin: 0;
  border-radius: 15px;
}

#weather h3 {
  margin: 2px;
  font-size: 15px;
  font-style: bold;
  font-weight: 750;
}

#weather p {
  font-size: 10px;
}

#forecast h3 {
  margin: 2px;
  font-size: 15px;
  font-style: bold;
  font-weight: 750;
}

#forecast p {
  font-size: 10px;
}

#about h2 {
  background-color: #4d90fe;
  text-align: center;
  font-weight: bold;
}

/*(phones, 400px and up) */
@media screen and (min-width: 400px) {
  .map-card {
    display: block;
  } 
}

/*(tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .map-card {
    display: block;
  }
}

/* (laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
  .map-card {
    display: block;
  }


  .header-title {
    justify-content: space-between;
  }

  .weatherwidget {
    justify-content: flex-end;
  }

  .map-card {
    display: block;
  }


  /* #places {
    flex-direction: row;
  } */


  .heading {
    font-size: 50px;
    margin-right: 25px;
  }

  .fa {
    font-size: 50px;
  }

  .checked {
    color: orange;
  }


.validate{
  font-size: larger;
  color: red;
}

